* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-width: 320px;
  scroll-behavior: smooth;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("./../img/background.png") no-repeat, url("./../img/1.png") no-repeat 0 140vh;
  background-size: contain;
}

.header, .mainpart, .footer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Arial";
  line-height: 1.2;
}

.container {
  padding: 20px 0;
}

.cart {
  padding-top: 10px;
}

.buttons {
  outline: none;
  border: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.buttons:focus {
  -webkit-box-shadow: 0px 5px 20px rgba(253, 173, 173, 0.86);
          box-shadow: 0px 5px 20px rgba(253, 173, 173, 0.86);
}

.button-box__button {
  padding: 15px 20px;
}

.button-box__button_banner {
  background: linear-gradient(95.13deg, #FA5353 -13.05%, #D11313 123.01%);
  -webkit-box-shadow: 0px 5px 35px rgba(255, 66, 66, 0.66);
          box-shadow: 0px 5px 35px rgba(255, 66, 66, 0.66);
  color: #fff;
  font-weight: 600;
}

.blocks__buttons {
  font-size: 1.3rem;
  width: 15%;
  min-width: 100px;
  padding: 15px 0;
  margin: 5px;
  border: 1px solid #000;
  background: none;
}

.blocks__buttons:hover {
  border-color: #FA5353;
}

.blocks__buttons_chosen {
  background: #FA5353;
  color: #fff;
  font-weight: 600;
  border: none;
}

.button-submit {
  border: 0;
  background: #FA5353;
  color: #fff;
  padding: 10px 15px;
  font-size: 1rem;
}

.form__input-group {
  width: 90%;
}

.value-inputs {
  border: 0.1rem solid;
  border-color: #FFAD49;
  width: 100%;
  height: 2.9rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  padding: 1rem;
  outline: none;
  font-size: 1.2rem;
  font-family: "Arial";
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: border-color .3s;
  -webkit-transition: border-color .3s;
  -moz-transition: border-color .3s;
  -ms-transition: border-color .3s;
  -o-transition: border-color .3s;
}

.value-inputs:focus {
  border-color: #ff8d06;
}

.textarea {
  height: 6rem;
  resize: none;
}

.box-title {
  color: #000;
  font-family: "Arial";
  font-weight: 600;
  padding-bottom: 20px;
}

.box-title_grid {
  padding-left: 20px;
}

.product-cards__item {
  width: 31%;
  min-width: 200px;
  margin: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 5px 5px rgba(255, 180, 68, 0.34);
          box-shadow: 5px 5px 5px rgba(255, 180, 68, 0.34);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.product-cards__age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}

.product-cards__age__month-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #C3EDFF;
  margin-right: 10px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.product-cards__image-box {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-box__image {
  min-width: 100%;
  height: auto;
}

.description__pet-title {
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.purchase {
  margin-top: auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purchase__pet-price {
  padding: 0 10px;
  font-size: 1.2rem;
}

.watch-next {
  color: #CD3E3E;
  /* $watch-next-link-color */
  font-weight: 600;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watch-next:hover {
  text-decoration: underline;
}

.watch-next_vector {
  margin-left: .5rem;
}

.watch-next_products-box {
  padding: 10px 0 0 30px;
}

.watch-next_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.watch-next_aboutus {
  padding: 15px 0;
}

.header__top-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logobox__logo {
  max-width: 30vw;
}

.burger-menu {
  display: none;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.burger-menu__image {
  width: 100%;
  max-width: 10vw;
  height: auto;
}

.burger-menu:focus {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.navigation {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.1rem;
}

.navigation__elements {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: border-bottom .3s;
  -webkit-transition: border-bottom .3s;
  -moz-transition: border-bottom .3s;
  -ms-transition: border-bottom .3s;
  -o-transition: border-bottom .3s;
}

.navigation__elements:hover {
  border-bottom: 2px solid black;
  font-weight: 600;
}

.banner-text {
  width: 45%;
}

.banner-text__item {
  padding: 1.5vw 0;
}

.banner-text__title {
  font-weight: 600;
}

.banner-text__text {
  font-weight: 300;
}

.why-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why-us__block {
  width: 27%;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-us__icon-box {
  padding-right: 15px;
}

.catalogue__blocks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: 11fr 8fr 2fr 7fr 1fr 8fr;
      grid-template-columns: 11fr 8fr 2fr 7fr 1fr 8fr;
}

.grid_images {
  max-width: 100%;
  height: auto;
}

.grid-item_1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.grid-item_2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.grid-item_3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 1;
  grid-row: 1;
}

.grid-item_4 {
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1;
}

.grid-item_5 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.grid-item_6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 2;
  grid-row: 2;
}

.grid-item_7 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  grid-row: 3;
}

.grid-item_8 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.form-box {
  margin: 0 auto;
}

.form {
  width: 60%;
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 20px 40px;
  border: 1px solid #FF8D06;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form__labels {
  position: relative;
  top: 10px;
  left: 8%;
  padding: 0 10px;
  margin-right: auto;
  background: #ffffff;
  font-family: "Arial";
  color: rgba(255, 66, 66, 0.46);
}

.aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutus__left {
  width: 40%;
  min-width: 300px;
  padding: 15px 25px;
}

.aboutus__right {
  width: 60%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutus__right__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.aboutus__man-photo {
  max-width: 100%;
  height: auto;
}

.aboutus__people-names {
  font-weight: 600;
}

.footer__wrapper {
  background: linear-gradient(91.52deg, rgba(255, 141, 6, 0.57) -8.95%, #F79C17 102.01%);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 50px;
}

.block__items {
  color: #000;
  text-decoration: none;
  padding: 10px 0;
}

.block__items_simple:hover {
  text-decoration: underline;
}

.block__items_title {
  font-weight: 600;
}

.block__items_title_lowest {
  padding: 40px 0 0 20px;
}

.block__items_icons {
  margin-right: 0.7rem;
}

.logo-box__logo {
  max-width: 100%;
  height: auto;
}

.social-nets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-nets_logo {
  padding: 0 15px 0 0;
}

@media only screen and (max-width: 400px) {
  .header, .mainpart, .footer {
    padding: 10px;
    font-size: .8rem;
  }
  .header {
    height: 28vh;
  }
  .banner-text {
    width: 55%;
  }
  .banner-text__title {
    font-size: 1rem;
  }
  .box-title {
    font-size: 1.5rem;
  }
  .blocks__buttons {
    font-size: .8rem;
  }
  .button-box__button {
    padding: 5px 10px;
  }
  .button-box__button_banner {
    font-size: .6rem;
  }
  .product-cards__item {
    padding: 15px;
  }
}

@media only screen and (min-width: 400px) {
  .header, .mainpart, .footer {
    padding: 10px;
    font-size: .8rem;
  }
  .header {
    height: 38vh;
  }
  .box-title {
    font-size: 1.7rem;
  }
  .banner-text {
    width: 55%;
  }
  .banner-text__title {
    font-size: 1.2rem;
  }
  .button-box__button {
    padding: 5px 10px;
  }
  .button-box__button_banner {
    font-size: .73rem;
  }
  .product-cards__item {
    padding: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .header, .mainpart, .footer {
    padding: 20px 50px;
    font-size: .9rem;
  }
  .header {
    height: 49vh;
  }
  .header__main-part {
    padding-top: 1vw;
  }
  .box-title {
    font-size: 1.8rem;
  }
  .blocks__buttons {
    font-size: 1.2rem;
  }
  .banner-text__title {
    font-size: 1.6rem;
  }
  .banner-text__text {
    font-size: 1rem;
  }
  .button-box__button_banner {
    font-size: .8rem;
  }
  .product-cards__item {
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .banner-text__text {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .header {
    height: 68vh;
  }
  .header__main-part {
    padding-top: 2vw;
  }
  .box-title {
    font-size: 2.2rem;
  }
  .banner-text__title {
    font-size: 2rem;
  }
  .banner-text__text {
    font-size: 1.2rem;
  }
  .button-box__button {
    padding: 15px 20px;
  }
  .button-box__button_banner {
    font-size: 1rem;
  }
  .product-cards__item {
    padding: 30px 40px;
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    height: 75vh;
  }
  .header__main-part {
    padding-top: 3vw;
  }
  .box-title {
    font-size: 2.5rem;
  }
  .header, .mainpart, .footer {
    font-size: 1rem;
  }
  .banner-text__title {
    font-size: 2.4rem;
  }
  .banner-text__text {
    font-size: 1.4rem;
  }
  .button-box__button_banner {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    height: 87vh;
  }
  .header__main-part {
    padding-top: 4vw;
  }
  .banner-text__title {
    font-size: 2.8rem;
  }
  .banner-text__text {
    font-size: 1.6rem;
  }
  .button-box__button_banner {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1400px) {
  .header {
    height: 115vh;
  }
  .header__main-part {
    padding-top: 5vw;
  }
  .banner-text__title {
    font-size: 3.3rem;
  }
  .banner-text__text {
    font-size: 1.8rem;
  }
  .button-box__button_banner {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .main {
    background: url("./../img/background.png") no-repeat;
    background-size: contain;
  }
  .header__navigation, .header__cart {
    display: none;
  }
  .burger-menu {
    display: inline-block;
    margin-left: auto;
  }
  .why-us__block {
    width: 100%;
  }
  .product-cards__item {
    width: 80%;
  }
  .product-cards__item_1, .product-cards__item_2, .product-cards__item_6 {
    display: none;
  }
  .form {
    width: 100%;
  }
  .aboutus {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aboutus__left, .aboutus__right {
    width: 100%;
  }
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=main.css.map */