$main-text-color: #000;
$active-button-text-color: #fff;
$watch-next-link-color: #CD3E3E;
$forms-color: rgba(255,66,66,0.46);

$forms-border-color: #FF8D06;
$forms-input-border-color: #FFAD49;
$forms-input_focus_border: rgb(255, 141, 6);

$active-button-background-color: #FA5353;
$main-part-button-background: linear-gradient(95.13deg, #FA5353 -13.05%, #D11313 123.01%);
$main-part-button--shadow: 0px 5px 35px rgba(255, 66, 66, 0.66);
$main-part-button--shadow_hover: 0px 5px 20px rgba(255, 242, 242, 0.76);
$main-part-button--shadow_focus: 0px 5px 20px rgba(253, 173, 173, 0.86);

$main-font-family: "Arial";

$max-width: 1280px;
