@media only screen and (max-width: 600px) {   
    .main {
        background-size: 200%;
        background-position-x: right;
    }
    
    
    .page-elements {
        width: 100%;
        margin: 0 0 2rem;
    }


    .box-title {
        font-size: 2.2rem;
        margin: 0 0 1rem 4rem;
    }


    .navigation, .cart_icon {
        display: none;
    }
    .burger-menu {
        display: inline-block;
    }


    .main-page-banner {
        &__left {
            margin: 85% 5% 0;
            &_title {
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }
            &_text {
                display: none;
            }
        }
    }
    .banner__left_button {
        width: 60%;
        font-size: 1.2rem;
    }


    .why-choose-box {
        width: 75%;
    }
    .why-choose__blocks {
        flex-direction: column;
        margin-left: 4rem;
    }
    .why-choose__block {
        width: 100%;
    }


    .catalogue-box {
        padding: 0 1rem;
        width: 100%;
    }
    .catalogue-blocks {
        margin-bottom: 1.5rem;
        &_buttons {
            padding: .2rem;
            font-size: 1rem;
        }
    }
    .product-card {
        width: 80%;
        margin-bottom: 1.5rem;
    
        &_1, &_2, &_6 {
            display: none;
        }
    }


    .photogrid-box {
        display: none;
    }


    .form-container {
        width: 95%;
    }


    .about-box {
        flex-wrap: wrap;
        &__left {
            width: 90%;
            padding: 0 5%;
        }
        &__right {
            width: 80%;
            margin: 1rem 5% 0;
        }
    }

    .footer-box {
        margin-bottom: 0;
    }
    .menu-items {
        margin: 5% 0;
    }
    .bottom-menu-title {
        margin: 5%;
    }
}