@media only screen and (max-width: 400px) {
    .header, .mainpart, .footer {
        padding: 10px;
        font-size: .8rem;
    }
    
    .header {
        height: 28vh;
    }
    .banner-text {
        width: 55%;
        &__title {
            font-size: 1rem;
        }
    }

    .box-title {
        font-size: 1.5rem;
    }

    .blocks__buttons {
        font-size: .8rem;
    }

    .button-box__button {
        padding: 5px 10px;
        &_banner {
            font-size: .6rem;
        }
    }
    .product-cards__item {
        padding: 15px;
    }
}

@media only screen and (min-width: 400px) {
    .header, .mainpart, .footer {
        padding: 10px;
        font-size: .8rem;
    }
    
    .header {
        height: 38vh;
    }
    .box-title {
        font-size: 1.7rem;
    }
    .banner-text {
        width: 55%;
        &__title {
            font-size: 1.2rem;
        }
    }
    .button-box__button {
        padding: 5px 10px;
        &_banner {
            font-size: .73rem;
        }
    }
    .product-cards__item {
        padding: 15px;
    }
}

@media only screen and (min-width: 600px) {
    .header, .mainpart, .footer {
        padding: 20px 50px;
        font-size: .9rem;
    }

    .header {
        height: 49vh;
        &__main-part {
            padding-top: 1vw;
        }
    }
    .box-title {
        font-size: 1.8rem;
    }
    .blocks__buttons {
        font-size: 1.2rem;
    }
    .banner-text {
        &__title {
            font-size: 1.6rem;
        }
        &__text {
            font-size: 1rem;
        }
    }   
    .button-box__button_banner {
        font-size: .8rem;
    }
    .product-cards__item {
        padding: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .banner-text__text {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .header {
        height: 68vh;
        &__main-part {
            padding-top: 2vw;
        }
    }

    .box-title {
        font-size: 2.2rem;
    }

    .banner-text {
        &__title {
            font-size: 2rem;
        }
        &__text {
            font-size: 1.2rem;
        }
    }   
    .button-box__button {
        padding: 15px 20px;
        &_banner {
            font-size: 1rem;
        }
    }
    .product-cards__item {
        padding: 30px 40px;
    }
}

@media only screen and (min-width: 1000px) {
    .header {
        height: 75vh;
        &__main-part {
            padding-top: 3vw;
        }
    }

    .box-title {
        font-size: 2.5rem;
    }
    .header, .mainpart, .footer {
        font-size: 1rem;
    }

    .banner-text {
        &__title {
            font-size: 2.4rem;
        }
        &__text {
            font-size: 1.4rem;
        }
    }
    .button-box__button_banner {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1200px) {    
    .header {
        height: 87vh;
        &__main-part {
            padding-top: 4vw;
        }
    }
    .banner-text {
        &__title {
            font-size: 2.8rem;
        }
        &__text {
            font-size: 1.6rem;
        }
    }
    .button-box__button_banner {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1400px) {
    .header {
        height: 115vh;
        &__main-part {
            padding-top: 5vw;
        }
    }
    .banner-text {
        &__title {
            font-size: 3.3rem;
        }
        &__text {
            font-size: 1.8rem;
        }
    }
    .button-box__button_banner {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .product-cards {
        &__item {
        width: 70%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .main {
        background: url("./../img/background.png") no-repeat;
        background-size: contain;
    }


    .header__navigation, .header__cart {
        display: none;
    }
    .burger-menu {
        display: inline-block;
        margin-left: auto;
    }
    

    .why-us__block {
        width: 100%;
    }


    .product-cards {
        &__item {
        width: 80%;

            &_1, &_2, &_6 {
                display: none;
            }
        }
    }

    .form {
        width: 100%;
    }

    .aboutus {
        flex-wrap: wrap;

        &__left, &__right {
            width: 100%;
        }
    }
    
    .footer__container {
        flex-wrap: wrap;
    }
}