@media only screen and (max-width: 400px) {
    .header {
        height: 30vh;
    }
    .banner-text {
        &__title {
            font-size: 1rem;
        }
    }
    .button-box__button {
        padding: 5px 10px;
        &_banner {
            font-size: .6rem;
        }
    }
}

@media only screen and (min-width: 400px) {
    .header {
        height: 36vh;
    }
    .banner-text {
        &__title {
            font-size: 1.2rem;
        }
    }
    .button-box__button {
        padding: 5px 10px;
        &_banner {
            font-size: .8rem;
        }
    }
}

@media only screen and (min-width: 600px) {
    .header {
        height: 48vh;
        &__main-part {
            padding-top: 1vw;
        }
    }
    .banner-text {
        &__title {
            font-size: 1.6rem;
        }
        &__text {
            font-size: 1rem;
        }
    }   
    .button-box__button_banner {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 600px) {
    .banner-text__text {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .header {
        height: 62vh;
        &__main-part {
            padding-top: 2vw;
        }
    }
    .banner-text {
        &__title {
            font-size: 2rem;
        }
        &__text {
            font-size: 1.2rem;
        }
    }   
    .button-box__button {
        padding: 15px 20px;
        &_banner {
            font-size: 1rem;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .header {
        height: 75vh;
        &__main-part {
            padding-top: 3vw;
        }
    }
    .banner-text {
        &__title {
            font-size: 2.4rem;
        }
        &__text {
            font-size: 1.4rem;
        }
    }
    .button-box__button_banner {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .header {
        height: 87vh;
        &__main-part {
            padding-top: 4vw;
        }
    }
    .banner-text {
        &__title {
            font-size: 2.8rem;
        }
        &__text {
            font-size: 1.6rem;
        }
    }
    .button-box__button_banner {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1400px) {
    .header {
        height: 100vh;
    }
    .banner-text {
        &__title {
            font-size: 3.3rem;
        }
        &__text {
            font-size: 1.8rem;
        }
    }
    .button-box__button_banner {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1400px) {
    .header {
        height: 115vh;
    }
}

@media only screen and (max-width: 800px) {
    
    .header__navigation, .header__cart {
        display: none;
    }
    .burger-menu {
        display: inline-block;
        margin-left: auto;
    }
    

    .why-us__block {
        width: 100%;
    }


    .product-cards {
        &__item {
        width: 60%;

            &_1, &_2, &_6 {
                display: none;
            }
        }
    }

    .form {
        width: 100%;
    }

    .aboutus {
        flex-wrap: wrap;

        &__left, &__right {
            width: 100%;
        }
    }
    
    .footer__container {
        flex-wrap: wrap;
    }
}