.about-box {
    display: flex;
    align-items: center;
    &__left {
        width: 40%;
    }
    &__right {
        min-width: 400px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
    
        &_element {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px 10px 10px;
        }
    }
}

.photos-people {
    max-width: 100%;
    height: auto;
}

.people-names {
    font-weight: 600;
}

.about-box__left_watch-next-box {
    margin-top: 1rem;
}