.about-box {
    display: flex;
    align-items: center;

    &__right {
        min-width: 60%;
        margin-left: 3rem;
        display: flex;
    
        &_element {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px 10px 10px;
        }
    }
}

.photos-people {
    width: 100%;
    height: auto;
}

.people-names {
    font-weight: 600;
}

.about-box__left_watch-next-box {
    margin-top: 1rem;
}