.catalogue-blocks {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.products-box {
    display: flex;
    flex-direction: column;
}

.product-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}