.catalogue__blocks {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products-box {
    display: flex;
    flex-direction: column;
}

.product-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}