.footer {
    background: linear-gradient(91.52deg, rgba(255, 141, 6, 0.57) -8.95%, #F79C17 102.01%);

    &-box {
        display: flex;
        flex-direction: column;

        &_container {
            display: flex;
            justify-content: space-between;
        }
    }
}

.bottom-menu-title {
    display: flex;
    font-weight: 600;
    justify-content: flex-end;
    padding: 20px 50px;
}

.footer-blocks {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.menu-title {
    font-weight: 600;
}

.menu-items {
    margin: .9rem 0;
    color: #000;
    text-decoration: none;

    &-simple:hover {
        text-decoration: underline;
    }
}

.icons {
    margin-right: 0.7rem;
}

.social-nets {
    display: flex;

    &_logo {
        padding: 0 15px 0 0;
    }
}