.footer__wrapper {
    background: linear-gradient(91.52deg, rgba(255, 141, 6, 0.57) -8.95%, #F79C17 102.01%);
}

.footer {

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__blocks {
        display: flex;
        flex-direction: column;
        padding: 10px 50px;
    }
}

.block__items {
    color: #000;
    text-decoration: none;
    padding: 10px 0;

    &_simple:hover {
        text-decoration: underline;
    }

    &_title {
        font-weight: 600;

        &_lowest {
            padding: 40px 0 0 20px;
        }
    }

    &_icons {
        margin-right: 0.7rem;
    }
}

.logo-box__logo {
    max-width: 100%;
    height: auto;
}

.social-nets {
    display: flex;

    &_logo {
        padding: 0 15px 0 0;
    }
}