.form-container {
    width: 60%;
    margin: 0 auto;
    border: 1px solid $forms-border-color;
    border-radius: 5px;
    padding: 1.5rem 4rem 2rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-labels {
    position: relative;
    top: 10px;
    left: 8%;
    padding: 0 10px;
    margin-right: auto;
    background: #ffffff;
    font-family: $main-font-family;
    color: $forms-color;
}