.form-box {
    margin: 0 auto;
}

.form {
    width: 60%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px 40px;
    border: 1px solid $forms-border-color;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
    &__labels {
    position: relative;
    top: 10px;
    left: 8%;
    padding: 0 10px;
    margin-right: auto;
    background: #ffffff;
    font-family: $main-font-family;
    color: $forms-color;
    }
}