.header {
    height: 110vh;
    
    &__top-part {
        display: flex;
        justify-content: space-between;
    }

    &__main-part {
        padding-top: 5vw;
    }
}

.logobox__logo {
    max-width: 40vw;
}

.burger-menu {
    display: none;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    &__image {
        width: 100%;
        max-width: 12vw;
        height: auto;
    }

    &:focus {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
}