.header {
    display: flex;
    justify-content: flex-start;

    &_logo {
    }
}

.burger-menu {
    display: none;
    padding: .3rem 1rem;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    &_image {
        width: 100%;
        height: auto;
    }

    &:focus {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
}