.why-choose__blocks {
    display: flex;
    flex-wrap: wrap;
}

.why-choose__block {
    display: flex;
    align-items: center;
    padding: 10px 30px 10px 0;
}

.why-choose__block-text {
    margin-left: 20px;
}