.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;

    &_elements {
        margin: 15px 20px;
        color: $main-text-color;
        text-decoration: none;
        font-family: $main-font-family;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        transition: border-bottom .3s;
        -webkit-transition: border-bottom .3s;
        -moz-transition: border-bottom .3s;
        -ms-transition: border-bottom .3s;
        -o-transition: border-bottom .3s;

        &:hover {
            border-bottom: 2px solid rgba(0, 0, 0, 1);
            font-weight: 600;
        }
    }
}