.buttons {
    outline: none;
    border: 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

    &:focus {
        box-shadow: $main-part-button--shadow_focus;
    }
}

.button-box__button {
    padding: 15px 20px;

    &_banner {
        background: $main-part-button-background;
        box-shadow: $main-part-button--shadow;
        color: $active-button-text-color;
        font-size: 1.6rem;
        font-weight: 600;
    }
}

.blocks__buttons {
    font-size: 1.3rem;
    width: 15%;
    min-width: 100px;
    padding: 15px 0;
    margin: 5px;
    border: 1px solid #000;
    background: none;

    &:hover{
        border-color: $active-button-background-color;
    }

    &_chosen {
        background: $active-button-background-color;
        color: $active-button-text-color;
        font-weight: 600;
        border: none;
    }
}

.button-submit {
    border: 0;
    background: $active-button-background-color;
    color: $active-button-text-color;
    padding: 10px 15px;
    font-size: 1rem;
}