.product-card {
    max-width: 30%;
    background: #FFFFFF;
    box-shadow: 5px 5px 5px rgba(255, 180, 68, 0.34);
    border-radius: 50px;
    margin: 0 10px 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    &_age {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        margin-bottom: .5rem;

        &_month-count {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            background-color: #C3EDFF;
            margin-right: 1.2rem;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
        }
    }

    &_image {
        max-width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_description {
        max-width: 100%;
        padding: 5px;
        margin-top: 1rem;

        &_pet-title {
            font-size: 1.3rem;
            margin: 5px 0 10px;
        }
    }

    &_pet-description {
        font-size: .9rem;
        line-height: 1.4;
    }

    &_purchase {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_pet-price {
            padding: 0 10px;
            font-size: 1.2rem;
        }
    }
}

.watch-next_left {
     padding: .3rem 0 0 1.8rem;
}