.product-cards {
    &__item {
    width: 31%;
    min-width: 200px;
    margin: 10px;
    background: #FFFFFF;
    box-shadow: 5px 5px 5px rgba(255, 180, 68, 0.34);
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    }
    
    &__age {
        display: flex;
        align-items: center;
        font-size: 1.1rem;

        &__month-count {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background-color: #C3EDFF;
            margin-right: 10px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
        }
    }

    &__image-box {
        padding: 10px;
        min-height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.image-box__image {
    max-width: 100%;
    height: auto;
}

.description {

    &__pet-title {
        font-size: 1.3rem;
        padding-bottom: 10px;
    }
}

.purchase {
    margin-top: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__pet-price {
        padding: 0 10px;
        font-size: 1.2rem;
    }
}